body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #33ffcc;
  padding: 20px;
  text-align: center;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

/* Container styles */
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0a8e0;
}

/* Right sidebar styles */
.right {
  flex-grow: 1;
  margin-right: 20px;
}

.content {
  margin-bottom: 20px;
}

/* Left sidebar styles */
.left {
  flex-basis: 30%;
  margin-right: 20px;
}

/* Common content styles */
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #0000ff;
  text-decoration: none;
  font-size: bold;
}
a:hover{
  color: red;
  
}

.alert {
  margin-top: 10px;
}

button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.promo {
  text-align: center;
  margin-top: 20px;
}